In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import LabelEncoder
from tabulate import tabulate

I. IMPORTAMOS LA DATA QUE USAREMOS PARA NUESTRAS 4 PRIMERAS FUNCIONES DE CONSULTA

In [3]:
data1 = pd.read_csv("./Datos/sistemaconsulta_func1234.csv", low_memory=False)

In [4]:
data1

,title,release_date,release_year,popularity,vote_average,vote_count
0,Toy Story,1995-10-30,1995,21.95,7.7,5415.0
1,Jumanji,1995-12-15,1995,17.02,6.9,2413.0
2,Grumpier Old Men,1995-12-22,1995,11.71,6.5,92.0
3,Waiting to Exhale,1995-12-22,1995,3.86,6.1,34.0
4,Father of the Bride Part II,1995-02-10,1995,8.39,5.7,173.0
...,...,...,...,...,...,...
45446,Robin Hood,1991-05-13,1991,5.68,5.7,26.0
45447,Century of Birthing,2011-11-17,2011,0.18,9.0,3.0
45448,Betrayal,2003-08-01,2003,0.90,3.8,6.0
45449,Satan Triumphant,1917-10-21,1917,0.00,0.0,0.0
45450,Queerama,2017-06-09,2017,0.16,0.0,0.0

1.- def cantidad_filmaciones_mes(mes:str):

''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'

return {'mes':mes, 'cantidad':respuesta}

In [7]:
def peliculas_mes(mes: str):
    archivo='./Datos/sistemaconsulta_func1234.csv'
    columnas=['release_date']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)
    data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
    meses_dict = {
        'january': 'enero',
        'february': 'febrero',
        'march': 'marzo',
        'april': 'abril',
        'may': 'mayo',
        'june': 'junio',
        'july': 'julio',
        'august': 'agosto',
        'september': 'septiembre',
        'october': 'octubre',
        'november': 'noviembre',
        'december': 'diciembre'
    }
    mes_espanol = meses_dict.get(mes.lower(), mes)
    cantidad_peliculas = len(data[data['release_date'].dt.month_name().str.lower() == mes.lower()])
    return f"{cantidad_peliculas} cantidad de películas se estrenaron en el mes de {mes_espanol}"

In [8]:
peliculas_mes('January')

'5920 cantidad de películas se estrenaron en el mes de enero'

2.- def cantidad_filmaciones_dia(dia:str):

'Se ingresa el dia y la función retorna la cantidad de peliculas que se estrebaron ese dia historicamente'

return {'dia':dia, 'cantidad':respuesta}

In [9]:
def peliculas_dia(dia:str):
    archivo='./Datos/sistemaconsulta_func1234.csv'
    columnas=['release_date']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)
    data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
    dias_dict = {
        'monday': 'lunes',
        'tuesday': 'martes',
        'wednesday': 'miércoles',
        'thursday': 'jueves',
        'friday': 'viernes',
        'saturday': 'sábado',
        'sunday': 'domingo'
    }
    dia_espanol = dias_dict.get(dia.lower(), dia)
    cantidad_dias = len(data[data['release_date'].dt.day_name().str.lower() == dia.lower()])    
    return f"{cantidad_dias} cantidad de películas se estrenaron en el dia {dia_espanol}"

In [10]:
peliculas_dia('monday')

'3509 cantidad de películas se estrenaron en el dia lunes'

3.- def score_titulo(titulo:str):

'Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score'

return {'titulo':titulo, 'anio':respuesta, 'popularidad':respuesta}

In [11]:
def score_titulo(pelicula: str):
    archivo = './Datos/sistemaconsulta_func1234.csv'
    columnas=['title', 'release_year', 'popularity']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)
    pelicula_data = data[data['title'].str.lower() == pelicula.lower()]
    
    if pelicula_data.empty:
        return f"No se encontró información de la película {pelicula}"
    
    titulo = pelicula_data['title'].iloc[0]
    anio = pelicula_data['release_year'].iloc[0]
    score = pelicula_data['popularity'].iloc[0]

    return f"La película {titulo} fue estrenada en el año {anio} con un score/popularidad de {score}"

In [12]:
score_titulo('Jumanji')

'La película Jumanji fue estrenada en el año 1995 con un score/popularidad de 17.02'

4.- def votos_titulo(titulo:str):

'Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. 

La misma variable deberá de contar con al menos 2000 valoraciones, 
caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.'

return {'titulo':titulo, 'anio':respuesta, 'voto_total':respuesta, 'voto_promedio':respuesta}

In [13]:
def votos_titulo(pelicula: str):
    archivo = './Datos/sistemaconsulta_func1234.csv'
    columnas=['title', 'release_year', 'vote_count', 'vote_average']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)
    pelicula_data = data[data['title'].str.lower() == pelicula.lower()]
    pelicula_count = data[data['title'].str.lower() == pelicula.lower()]['vote_count'].sum()
    if pelicula_data.empty:
        return f"No se encontró información de la película {pelicula}"
    if pelicula_count < 2000:
        return f"No se encontró información de la película {pelicula}"
    
    titulo = pelicula_data['title'].iloc[0]
    anio = pelicula_data['release_year'].iloc[0]
    count = pelicula_data['vote_count'].iloc[0]
    average = pelicula_data['vote_average'].iloc[0]

    return {'titulo':titulo, 'anio':anio, 'voto_total':count, 'voto_promedio':average}

In [14]:
votos_titulo('Jumanji')

{'titulo': 'Jumanji', 'anio': 1995, 'voto_total': 2413.0, 'voto_promedio': 6.9}

II. IMPORTAMOS LA DATA QUE USAREMOS PARA LA CONSULTA SOBRE EL ELENCO DE CADA PELÍCULA

In [15]:
data2 = pd.read_csv('./Datos/sistemaconsulta_cast.csv')

In [16]:
data2

                                                    cast  return
0      Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...   12.45
1      Robin Williams, Jonathan Hyde, Kirsten Dunst, ...    4.04
2      Walter Matthau, Jack Lemmon, Ann-Margret, Soph...    0.00
3      Whitney Houston, Angela Bassett, Loretta Devin...    5.09
4      Steve Martin, Diane Keaton, Martin Short, Kimb...    0.00
...                                                  ...     ...
43092  Lisa Boyle, Kena Land, Zaneta Polard, Don Yana...    0.00
43093  Patrick Bergin, Uma Thurman, David Morrissey, ...    0.00
43094  Angel Aquino, Perry Dizon, Hazel Orencio, Joel...    0.00
43095  Erika Eleniak, Adam Baldwin, Julie du Page, Ja...    0.00
43096  Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...    0.00

[43097 rows x 2 columns]

5.- def get_actor(nombre_actor:str):

'Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 

Además, la cantidad de películas que en las que ha participado y el promedio de retorno'

return {'actor':nombre_actor, 'cantidad_filmaciones':respuesta, 'retorno_total':respuesta, 'retorno_promedio':respuesta}

In [17]:
def get_actor(nombre_actor: str):
    archivo = './Datos/sistemaconsulta_cast.csv'
    columnas = ['cast', 'return']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)
    actor_films = data[data['cast'].str.contains(nombre_actor, case=False)]['return']
    cantidad_peliculas = actor_films.count()
    
    if cantidad_peliculas == 0:
        return f"No se encontró información del actor {nombre_actor}"
    
    retorno_total = actor_films.sum()
    promedio_retorno = retorno_total / cantidad_peliculas

    return {'actor': nombre_actor, 'cantidad_filmaciones': cantidad_peliculas, 'retorno_total': retorno_total, 'retorno_promedio': promedio_retorno}

In [18]:
get_actor('Robin Williams')

{'actor': 'Robin Williams',
 'cantidad_filmaciones': 82,
 'retorno_total': 155.66,
 'retorno_promedio': 1.8982926829268292}

III. IMPORTAMOS LA DATA QUE USAREMOS PARA LA CONSULTA SOBRE DIRECTORES

In [19]:
data3 = pd.read_csv('./Datos/sistemaconsulta_directors.csv')

In [20]:
data3

,director,title,release_date,budget,revenue,return
0,John Lasseter,Toy Story,1995-10-30,30000000,373554033.0,12.45
1,Joe Johnston,Jumanji,1995-12-15,65000000,262797249.0,4.04
2,Howard Deutch,Grumpier Old Men,1995-12-22,0,0.0,0.00
3,Forest Whitaker,Waiting to Exhale,1995-12-22,16000000,81452156.0,5.09
4,Charles Shyer,Father of the Bride Part II,1995-02-10,0,76578911.0,0.00
...,...,...,...,...,...,...
44611,John Irvin,Robin Hood,1991-05-13,0,0.0,0.00
44612,Lav Diaz,Century of Birthing,2011-11-17,0,0.0,0.00
44613,Mark L. Lester,Betrayal,2003-08-01,0,0.0,0.00
44614,Yakov Protazanov,Satan Triumphant,1917-10-21,0,0.0,0.00
44615,Daisy Asquith,Queerama,2017-06-09,0,0.0,0.00

6.- def get_director(nombre_director:str):

'Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno.

Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma'

return {'director':nombre_director, 'retorno_total_director':respuesta, 'peliculas':respuesta, 'anio':respuesta, 'retorno_pelicula':respuesta, 'budget_pelicula':respuesta, 'revenue_pelicula':respuesta}

In [21]:
def get_director(nombre_director: str):
    archivo = './Datos/sistemaconsulta_directors.csv'
    columnas = ['director', 'title', 'release_date', 'budget', 'revenue', 'return']
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)

    director_films = data[data['director'].str.lower() == nombre_director.lower()]
    if director_films.empty:
        return pd.DataFrame({
            'director': [nombre_director],
            'retorno_total_director': [0],
            'peliculas': [[]],
            'anio': [[]],
            'retorno_pelicula': [[]],
            'budget_pelicula': [[]],
            'revenue_pelicula': [[]]
        })

    retorno_total_director = director_films['return'].sum()
    peliculas = director_films['title'].tolist()
    anio = director_films['release_date'].tolist()
    retorno_pelicula = director_films['return'].tolist()
    budget_pelicula = director_films['budget'].tolist()
    revenue_pelicula = director_films['revenue'].tolist()

    # Crear tabla para 'director' y 'retorno_total_director'
    table1 = pd.DataFrame({
        'Director': [nombre_director],
        'Retorno_total_director': [retorno_total_director]
    })

    # Crear tabla para 'peliculas', 'anio', 'retorno_pelicula', 'budget_pelicula', 'revenue_pelicula'
    table2 = pd.DataFrame({
        'Peliculas': peliculas,
        'Anio': anio,
        'Retorno_pelicula': retorno_pelicula,
        'Presupuesto_pelicula': budget_pelicula,
        'Ganancia_pelicula': revenue_pelicula
    })

    # Imprimir la primera tabla
    print('Tabla 1:')
    print(tabulate(table1, headers='keys', tablefmt='psql'))
    print('\n')

    # Imprimir la segunda tabla
    print('Tabla 2:')
    print(tabulate(table2, headers='keys', tablefmt='psql'))

In [22]:
get_director('James Cameron')

Tabla 1:
+----+---------------+--------------------------+
|    | Director      |   Retorno_total_director |
|----+---------------+--------------------------|
|  0 | James Cameron |                    54.24 |
+----+---------------+--------------------------+


Tabla 2:
+----+--------------------------------+------------+--------------------+------------------------+---------------------+
|    | Peliculas                      | Anio       |   Retorno_pelicula |   Presupuesto_pelicula |   Ganancia_pelicula |
|----+--------------------------------+------------+--------------------+------------------------+---------------------|
|  0 | True Lies                      | 1994-07-14 |               3.29 |              115000000 |         3.78882e+08 |
|  1 | Terminator 2: Judgment Day     | 1991-07-01 |               5.2  |              100000000 |         5.2e+08     |
|  2 | The Abyss                      | 1989-08-09 |               1.29 |               70000000 |         9.00001e+07 |
|  3 | Aliens                         | 1986-07-18 |               9.91 |               18500000 |         1.83316e+08 |
|  4 | The Terminator                 | 1984-10-26 |              12.25 |                6400000 |         7.83712e+07 |
|  5 | Titanic                        | 1997-11-18 |               9.23 |              200000000 |         1.84503e+09 |
|  6 | Piranha Part Two: The Spawning | 1981-01-01 |               0    |                 145786 |         0           |
|  7 | Ghosts of the Abyss            | 2003-04-10 |               1.31 |               13000000 |         1.70409e+07 |
|  8 | Avatar                         | 2009-12-10 |              11.76 |              237000000 |         2.78797e+09 |
|  9 | Avatar 2                       | 2020-12-16 |               0    |                      0 |         0           |
| 10 | T2 3-D: Battle Across Time     | 1996-01-01 |               0    |                      0 |         0           |
+----+--------------------------------+------------+--------------------+------------------------+---------------------+

IV. IMPORTAMOS LA DATA QUE USAREMOS PARA LA CREACIÓN DE NUESTRO SISTEMA DE RECOMENDACIONES DE PELÍCULAS

In [24]:
data4= pd.read_csv('./Datos/sistemarecomendacion.csv')

In [25]:
data4

,title,genres,popularity,vote_average
0,Toy Story,"Animation, Comedy, Family",21.95,7.7
1,Jumanji,"Adventure, Fantasy, Family",17.02,6.9
2,Grumpier Old Men,"Romance, Comedy",11.71,6.5
3,Waiting to Exhale,"Comedy, Drama, Romance",3.86,6.1
4,Father of the Bride Part II,Comedy,8.39,5.7
...,...,...,...,...
45446,Robin Hood,"Drama, Action, Romance",5.68,5.7
45447,Century of Birthing,Drama,0.18,9.0
45448,Betrayal,"Action, Drama, Thriller",0.90,3.8
45449,Satan Triumphant,NaN,0.00,0.0
45450,Queerama,NaN,0.16,0.0

In [26]:
def recomendacion(titulo: str):
    archivo = './Datos/sistemarecomendacion.csv'
    columnas = ['title', 'genres', 'popularity', 'vote_average']  # Reemplaza 'feature1', 'feature2', 'feature3' con las características relevantes de las películas

    # Leer el archivo CSV y seleccionar las columnas de interés
    data = pd.read_csv(archivo, low_memory=False, usecols=columnas)

    # Codificar las etiquetas de la columna 'genres'
    label_encoder = LabelEncoder()
    data['genres_encoded'] = label_encoder.fit_transform(data['genres'])

    # Crear un modelo de vecinos más cercanos
    model = NearestNeighbors(n_neighbors=4, algorithm='brute')  # Ajusta el número de vecinos y el algoritmo según tus necesidades

    # Ajustar el modelo a los datos
    model.fit(data[['genres_encoded', 'popularity', 'vote_average']])  # Reemplaza 'feature1', 'feature2', 'feature3' con las características relevantes de las películas

    # Buscar las películas similares al título dado
    indice = data[data['title'] == titulo].index[0]
    _, indices_similares = model.kneighbors(data.iloc[indice][['genres_encoded', 'popularity', 'vote_average']].values.reshape(1, -1))

    # Obtener los títulos de las películas similares
    peliculas_similares = data.loc[indices_similares[0], 'title'].tolist()

    return {'lista_recomendada': peliculas_similares}

In [27]:
recomendacion('Toy Story')

c:\Users\Administrador\Documents\SOYHENRY\Proyectos Henry\PI_1_DT11\fastapi-env\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

{'lista_recomendada': ['Toy Story', 'Despicable Me 2', 'Up', 'Ratatouille']}